body{
    background-color: #d4d4d4;
    border: 100px;
    border-color: black;
}
img.b1{
    height: 900px;
}
.Port{
    padding-left: 100px;
    font-size: 96px;
}
.biju{
    background-size: auto;
}
.biju img{
    width: 100vw;
}
/*prof*/
.profile{
    padding-left: 50px;
    padding-top: 100px;
}
.profile p{
    margin-bottom: 30px;
    padding-left: 50px;
    font-size: 20px;
}
.pro{
    margin: 50px;
    padding: 1rem 2rem;
    border-left: 5px solid #000;
    font-size: 48px;
}
h1{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    color: white;
    padding: 0;
    margin: 0;
}
/*list prof*/

li{
    
    float: left;
    padding: 20px;
    list-style:none;
}

.list{
    display: grid;
    width: fit-content;
    column-gap: 2em;
    grid-template-columns: repeat(3,auto);
    margin: auto;
    border: solid 3px #aafadf;
    border-radius: 10px;
    padding-left: 0;
    background-color: #eaf7f1;    
}
ol {
    margin-bottom: 2em;
    line-height: 1.7;
}
img{
    width: 75px;
}
/*skill*/
* {margin: 0; padding: 0;}
.ski{
    margin-left: 30px;
    padding: 1rem 2rem;
    border-left: 5px solid #000;
    font-size: 48px;
}

.skill{
  margin-top: 50px;
  padding-left: 70px;
  padding-top: 100px;
}
 
.skiul {
  list-style-type: none;
  width: 500px;
  margin: auto;
  width: fit-content;
  column-gap: 2em;
  grid-template-columns: repeat(3,auto);
  margin: auto;
  text-align: center;
}
img.s3{
    width: 200px;
}
img.s2{
    width: 200px;
}
img.s1{
    width: 200px;
} 
img.s4{
    width: 200px;
} 
h3 {
	font-weight: bold;
	margin-bottom: 10px;
}
 
li img {
  float: left;
  margin: 0 15px 0 0;
}
 
li p{
	font-size: 13px;
	line-height: 1.4;
}
 
li {
  padding: 30px;
  overflow: auto;
  
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}
/*work*/
.workss{
    display: flex;
    margin: auto;
    width: 500px;
    width: fit-content;
    column-gap: 2em;
    grid-template-columns: repeat(3,auto);
    
}
.works{
    padding-top: 300px;
}
.wor{
    width: 500px;
    margin: 100px;
    padding: 1rem 2rem;
    border-left: 5px solid #000;
    font-size: 48px;
    
}

img.w3{
    width: 200px;
}
img.w2{
    width: 200px;
}
img.w1{
    width: 230px;
}
